/*comments*/

/*asterisk & root*/
*,
 *::before,
 *::after {
 box-sizing: border-box;
 margin: 0;
 padding: 0;

}

:root{
    --primary-bg-color:  rgb(2, 88, 153);
    --primary-text-color: rgb(255, 255, 255);
    --Secondary-text-color: #33333390;
    --div-color:rgb(2, 88, 153,0.9);
}
/*end asterisk*/

/*body*/
body {
    font-family: 'Montserrat', sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    min-height: 100vh;
    margin: 0;
}

#main{
    overflow: auto;
    padding-bottom: 100px;
}
/*navbar*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-bg-color);
    z-index: 9999;
    position: sticky;
    width: 100%;
    height: 40px;
    padding: 0;
    margin: 0;
    top: 0;
    bottom: 0;
    
}
.nav-links{
    margin-left: 8px;
}
.nav-links li{
    display: inline-block;
    font-size: .7rem;
    margin-right: 13px;

}
.nav-links a, .fa-solid{
    color: white;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    padding: 4px;
}
.cntc-btn {
    margin-right: 3px;
}
.logo{
 color:var(--primary-text-color);
}
/*end navbar*/

/*footer*/
footer{
    background-color: #7a8872;
    padding: 1rem;
    z-index: -1;
    display: none;
}
.footworks{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footworks p {
    font-size: .7rem;
}
.footworks .iconsection i{
    padding: 2px;
    color: #333;
}
/*end footer*/

/*divs and sections*/
.hero {
    position: relative;
    z-index: 1;
    padding: 10%;
    color: var(--primary-text-color);
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.btn{
    font-size: .8rem;
    padding: 10px;
    background-color: var(--primary-bg-color);
    color: white;
    border-radius: 8px;
    border:none;
}
/*texts*/
.mission{
    color: #33333390;
    font-size: .8rem;
    
}
.typewriter-fx{
    display: inline-block;
}
.typewriter {
    border-right: 5px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(41),
    cursor .4s step-end infinite alternate;
}
.btnsection a{
 color: var(--primary-text-color);
 text-decoration: none;
}
/*divs and sections*/
/*images*/
.factory-image{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    object-fit: cover;
    object-position: center;
    top: 0;
    left: 0;
    filter: blur(1.3px);
}




/*images*/

/*hover-effects*/
/*navbar-fx*/
.nav-links a::after{
    content: "";
    position: absolute;
    background-color: white;
    height: 2px;
    width: 0;
    left: 0;
    bottom: -5px;
    border-radius: 10px;
    transition: 0.3s;
}

.nav-links a:hover:after{
    width: 100%;
}
/*navbar-fx*/
/*end hover-effects*/

/*icon-animations*/
.fa-gear{
    transition: transform 0.5s ease-in-out;
}

.fa-house{
    transition:0.5s ease-in-out;
}
.navbar .nav-links a:hover + .fa-gear {
transform: rotate(360deg);
transition: transform 0.5s ease-in-out;
}
.navbar .navlinks .home:hover + .fa-house{
    animation: bounce 0.5s ease-in-out;
}
/*icon-animations*/

/*@keyframes of all*/
@keyframes cursor{
    50% {border-color: transparent;}
}
@keyframes typing {
    from {width: 0;}
}
.section-div-left{
    display: flex;
    justify-content: space-between;
    background-color: var(--Secondary-text-color);
    gap: 1rem;
    position: relative;
    overflow: hidden;
    height: 320px;
}
.section-div-left .content{
    font-size: .65rem;
    color: var(--primary-text-color);
    padding: 1rem;
    background-color: var(--div-color);
    width: 45%;
}


.section-div-left img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    position: absolute;
    z-index: -1;
    object-position: center;
    filter: blur(1px);

}

.aboutsct{
    display: flex;
    flex-direction: column;
    font-size: .8rem;
    height: 120px;
    text-align: center;
    justify-content: center;
    color: black;
    
}
#abouttxt{
    text-decoration: underline;
    color: #333;
    opacity: .75;
    font-size: .7rem;
}

.aboutsct p{
    font-size: .1.2rem;
    font-weight: bold;
    opacity: .8;
}
.about-us .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    line-height: 1rem;
}
hr{
    border: 2px solid var(--div-color);
}